.color-red {
    color: #F44336 !important;
}

.color-pink {
    color: #E91E63 !important;
}

.color-purple {
    color: #9C27B0 !important;
}

.color-deep_purple {
    color: #673AB7 !important;
}

.color-indigo {
    color: #3F51B5 !important;
}

.color-blue {
    color: #2196F3 !important;
}

.color-light_blue {
    color: #03A9F4 !important;
}

.color-cyan {
    color: #00BCD4 !important;
}

.color-teal {
    color: #009688 !important;
}

.color-green {
    color: #4CAF50 !important;
}

.color-light_green {
    color: #8BC34A !important;
}

.color-lime {
    color: #CDDC39 !important;
}

.color-yellow {
    color: #FFEB3B !important;
}

.color-amber {
    color: #FFC107 !important;
}

.color-orange {
    color: #FF9800 !important;
}

.color-deep_orange {
    color: #FF5722 !important;
}

.color-brown {
    color: #795548 !important;
}

.color-gray {
    color: #9E9E9E !important;
}

.color-blue_gray {
    color: #607D8B !important;
}
